<!DOCTYPE html>
<html>
<head>
  <title>View component ui</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "view-component-ui", media: "all" %>
</head>
<body>

<div class="tw-p-5">
  <%= yield %>
</div>

</body>
</html>
